@{
    ViewBag.Title = Resources.Messages.UserNotAuthorized;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section UpperBanner{


    <div class="innerBanner">

        <div class="banner"><img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" /></div>
    </div>
}


<div class="msg_con">
    <div class="msg_img"><img src="~/Content/Images/warning.jpg" width="150" alt="" /> </div>
    <div class="msg_txt">
        <br />
        <br />
        <br />
        <p>
            @Resources.Messages.UserNotAuthorized
        </p>
    </div>
</div>