<div class="innerMenu" style="height: 280px;">
    <div class="menuItem" id="GeneralView">
        <a href="~/Home/About">
            نظرة عامة
        </a>
    </div>
    <div class="menuItem" id="ContactUS">
        <a href="~/Feedback">
            @Resources.General.Feedback
        </a>
    </div>
  
  
    <div class="menuItem" id="UsageTerms">

        <a href="~/Feedback/UsageTerms">
            @Resources.General.UsageTerms
        </a>
    </div>

    <div class="menuItem" id="div_fvlist">

        <a href="~/Home/PrivacyPolicy">
            @Resources.General.privacyPolicy
        </a>
    </div>
  

</div>
