<table style="width: 100%;">
    <tr style="direction: rtl; ">
        <td style="text-align: right; ">
            <label id="lblBestBuy" style=" color: blanchedalmond;">@Resources.General.maxBuyPrice</label>
            <label id="txtBestBuy" style=" color: white;">@ViewData["minBuy"].ToString()</label>
        </td>
        <td style="text-align: left; padding-left: 10px; ">
            <label id="lblBestSell" style=" color: blanchedalmond;">@Resources.General.minSellPrice</label>
            <label id="txtBestSell" style=" color: white;">@ViewData["maxSell"].ToString()</label>
        </td>
    </tr>
</table>
