
<div class="innerMenu" style="height: 280px;">
  
        <div class="menuItem" id="div_dashboard">
            <a href="~/Home/TraderDashboard">
                @Resources.General.Dashboard
            </a>
        </div>
        <div class="menuItem" id="div_editProfile">

            <a href="~/EditProfile">
                @Resources.General.ProfileInfo
            </a>
        </div>
        <div class="menuItem" id="div_PricesOffers">

            <a href="~/Pricer">
                @Resources.General.PricesOffers
            </a>
        </div>
        <div class="menuItem" id="div_fvlist">

            <a href="~/FavorateList/AssignTraders">
                @Resources.General.ManageFav
            </a>
        </div>

    </div>
