@model GoldStreamerWebApp.Models.MessagesVM
@{
    ViewBag.Title = @Resources.General.Goldsmiths;
    Layout = "~/Views/Shared/_LayoutInner.cshtml";

}

@section SideMenu{
    @Html.Partial("_ContactSideMenue")
}


@section UpperBanner{


    <div class="innerBanner">

        <div class="banner"><img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" /></div>
    </div>
}


<div class="msg_con">
    <div class="msg_img"><img src="~/Content/Images/success.jpg" width="150" alt="" /> </div>
    <div class="msg_txt">
<br />
        <br />
        <br />
        <p>
            @Html.DisplayFor(m => m.Message)
        </p>
    </div>
</div>

