
@{
    ViewBag.Title = @Resources.General.QuestionGroup;
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";

}
    <div>
        <div>
            @{Html.RenderPartial("_Edit", new BLL.DomainClasses.QuestionGroup());}
        </div>

        <div id="divList" style="width:100%">
            @Html.Action("_List")
        </div>
    </div>
@section SideMenu{
    @Html.Partial("_AdminSideMenu")
}
<script>
    $(function () {
        $("#div_qg").addClass("menuItemactive");
    });
</script>
@section UpperBanner{


    <div class="innerBanner">
        <div class="banner">
            <h1 class="banner_header">@Resources.General.QuestionGroup</h1>
            <img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" />
        </div>
    </div>
}