@{
    ViewBag.Title = Resources.General.AccountLock;
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}



    <div class="msg_con">
        <div class="msg_img"><img src="~/Content/Images/warning.jpg" width="150" alt="" /> </div>
        <div class="msg_txt">
            <h1>الحساب مغلق</h1>
            <p>
                @Resources.General.AccountLock;
            </p>
            <a href="#" style="float:left;">الذهاب الي الصفحة الرئيسية</a>
        </div>
    </div>
    <p>
    </p>
