@model PagedList.IPagedList<BLL.DomainClasses.TraderPrices>
@using System.Web.Mvc.Html
@using PagedList.Mvc;

@{
    ViewBag.Title = @Resources.General.UpdatePrices + (Session["traderName"] != null ? " - " + Session["traderName"].ToString() : "");
    //  Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}



    
        <div>
            @{Html.RenderPartial("_Add", new BLL.DomainClasses.TraderPrices());}
        </div>


        <div id="bestP">
            @{Html.RenderAction("_BestPrice");}
        </div>


        <div id="divList">
            @Html.Action("_list")
        </div>



        @section SideMenu{
            @Html.Partial("_SuperTraderMenu")
        }
        <script>
            $(function () {
                $("#div_updatePrices").addClass("menuItemactive");
            });
        </script>
@section UpperBanner{


    <div class="innerBanner">
        <h1 class="banner_header">@Resources.General.UpdatePrices</h1>

        <div class="banner"><img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" /></div>
    </div>
}