@{Layout = "~/Views/Shared/_LayoutInner.cshtml";
ViewBag.Title = @Resources.General.AboutUs;}

@section UpperBanner{
    <div class="innerBanner">
        <h1 class="banner_header">نظرة عامة </h1>

        <div class="banner"><img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" /></div>

    </div>
}

@section SideMenu{
    @Html.Partial("_ContactSideMenue")
}
<script>
    $(function () {
        $("#GeneralView").addClass("menuItemactive");
    });
</script>



<h1>@Resources.General.AboutUs </h1>
<p>
    نظمت عمادة خدمة المجتمع والتعليم المستمر بجامعة الأميرة نورة بنت عبدالرحمن برنامجا تدريبيا بعنوان (ممارسة الخدمة الاجتماعية في مجالات العمل الاجتماعي) انطلاقا من مبدأ التعاون بين الجامعات ومؤسسات المجتمع و ضمن خطة العمادة في تدريب وتأهيل كافة شرائح المجتمع؛ حيث استهدف البرنامج موظفات وزارة
    <br /> <br />
</p>
<iframe style="margin:auto; width:560px; display:block;" width="560" height="315" src="https://www.youtube.com/embed/IU5a0nrW4k8" frameborder="0" allowfullscreen></iframe>
<br />
<h1><strong>مهمتنا</strong></h1>
<p>
    مهمتنا هي تطوير وتنفيذ إستراتيجيات متكاملة ذات جودة عالية والتي تقدم نتائج إستثنائية لعملائنا. نحقق ذلك من خلال صنع نوعية أرفع من المواقع الإلكترونية التي صممت خصيصا ً لتتماشى مع محركات البحث بإستخدام متطورة وعبر إستغلال قنوات الويب  الإجتماعية، وكتابة المحتوى المتميّز الذي يجذب الزوّار و يقنعهم.
</p>
<br />
<h1><strong>التزامنا</strong></h1>
<p>
    نحن ملتزمون بتقديم خدمات وحلول ذات جودة عالية لعملائنا. ونعد بأن نبذل قصارى جهدنا لفهم إحتياجات ومتطلبات العملاء وتلبية هذه الاحتياجات في الوقت المحدد وفي حدود الميزانية. نحن أيضا ملتزمون بمواصلة تلبية إحتياجات عملائنا حتى بعد الإنتهاء من المشروع من خلال تقديم التقارير وتقديم الدعم التقني والفني، وتقديم أي تدريب لازم.
</p>
<br />
<h1><strong>رؤيتنا</strong></h1>
<p>
    في تسويق الصاغة  رؤيتنا هي تجاوز توقعات عملائنا باستمرار. نحن نعمل بجد لتحقيق ذلك، من خلال تركيز كل طاقاتنا على نجاح الفكرة.
</p>
<br />
<h1><strong>قيّمنا</strong></h1>
<p>
    المهنية والنزاهة والوفاء بالتزاماتنا، والانتباه للتفاصيل الدقيقة وتجاوز توقعات العملاء، هي القيم الأساسية لدينا.</p>


