
@model dynamic

@{
    ViewBag.Title = Resources.General.ChatRoom;
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
}
<h1><strong>يمكنك الأن التحدث إلي أحد ممثلي الخدمة لدينا من خلال النافذة الأتية</strong>
</h1>
<br/>
<div style="height: 500px; margin: auto 0px; text-align: center;">
    <script language="JavaScript" type="text/javascript" src="//www.rumbletalk.com/client/?n15hLvUp"></script>

</div>
@section UpperBanner{
    <div class="innerBanner">
        <div class="banner"><img src="~/Uploads/Banners/inner_banner.jpg" width="1050" height="180" alt="" /></div>
    </div>
}