@using GoldStreamer.Helpers
@model GoldStreamer.Models.ViewModels.FAQViewModel
@{
    ViewBag.Title = "سياسة الخصوصية";
    Layout = "~/Views/Shared/_LayoutInner.cshtml";
    string baseUrl = CultureHelper.GetBaseURL().ToLower();
}
<link type="text/css" href="~/Content/css/style.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/accordion.js"></script>
@section UpperBanner{
    <div class="innerBanner">
        <h1 class="banner_header">@Resources.General.privacyPolicy</h1>

        <div class="banner"><img src="../../Content/Images/inner_banner.jpg" width="1050" height="180" alt="" /></div>

    </div>
}

@section SideMenu{
    @Html.Partial("_ContactSideMenue")
}
<script>
    $(function () {
        $("#div_fvlist").addClass("menuItemactive");
    });
</script>


<h1>سياسة الخصوصية</h1>
    
<p>
   
    الإلكتروني على الشبكة  تنطبق سياسة الخصوصية هذه على كافة البيانات الشخصية، والتي تقوم بتقديمها لنا ("بيانات المستخدم") من خلال الموقع 
</p>
<p>
    www.alsagha.com
</p>
<p>
    ("الموقع"). تم وضع سياسة الخصوصية هذه من أجل تعزيز ثقتك حيال خصوصية وسلامة تفاصيل معلوماتك الشخصية.
    "أنت\ صيغة المخاطب" نشير بها إليك، مستخدم الموقع. "نحن\ صيغة المتكلم" تعني الصاغة. "المستخدمون" تشير إلى مستخدمي الموقع عموما و\أو فرادى حسبما يشير السياق. نقوم بالتعامل مع كافة البيانات الشخصية والمعلومات المتعلقة بالمستخدم بتوافق تام مع كافة تشريعات حماية الخصوصية ذات العلاقة.

</p>
<br />
<h1><strong>ماذا نفعل بمعلومات المستخدم التي تقدمها إلينا</strong></h1>
<p>
    لدى قيامك بإدخال معلومات المستخدم، فأنت توافق بأن نقوم نحن بالاحتفاظ بمعلومات المستخدم الخاصة بك وذلك عن طريقنا أو عن طريق خدمات شركة تكون طرفا ثالثا يقوم بمعالجة هذه المعلومات بالنيابة عنا.
    يجوز لنا أن نستخدم معلومات المستخدم الخاصة بك وذلك حسب بنود سياسة الخصوصية هذه من أجل الأغراض التالية:
    •	إجراء أبحاث السوق، بما في ذلك التحليل الإحصائي المتعلق بسلوك المستخدم، والتي يجوز لنا عرضها على أطراف ثالثة على نحو غير شخصي، وبشكل كلي؛
    •	تمكيننا من الإيفاء بكافة المتطلبات المفروضة علينا قانونيا؛ و
    •	إرسال مخاطبات دورية إليك (والتي تتضمن رسالة بريد إلكتروني)، بخصوص المواصفات، والمنتجات، والخدمات، والفعاليات، والعروض الخاصة.
    يجوز لنا أن نقوم بالإفصاح عن معلومات المستخدم الخاصة بك إلى طرف ثالث:
    •	من أجل أن يقوم الطرف الثالث بإرسال مخاطبات دورية لك بخصوص المواصفات، والمنتجات، والخدمات، والفعاليات، والعروض الخاصة بالنيابة عنا؛
    •	في حال قمنا ببيع أو شراء أعمال أو موجودات، وفي هذه الحالة يجوز لنا أن نفصح معلومات المستخدم الخاصة بك للشاري أو البائع المحتمل لمثل هذه الأعمال أو الممتلكات؛
    •	في حال تملك طرف ثالث كافة موجوداتنا أو معظمها، ففي هذه الحالة تؤول معلومات المستخدم الخاصة بك والتي قمت بتقديمها لنا إلى الطرف الثالث كجزء من الموجودات المنقولة له؛ و
    •	في حال توجب علينا الإفصاح عن أو مشاركة معلومات المستخدم الخاصة بك من أجل: أ)الانصياع للالتزامات القانونية؛ ب) تطبيق أو تنفيذ الشروط والأحكام و\أو أي اتفاقيات أخرى؛ أو ج) حماية حقوقنا، وملكيتنا، وسلامتنا، وزبائننا، أو مستخدمون آخرون.
    قد نقوم بالإفصاح عن معلومات المستخدم الخاصة بك لأي من الشركات المنتمية لنا، والتي قد تتضمن شركاتنا الفرعية وشركاتنا القابضة، وشركاتها الفرعية، حيثما كان موقع هذه الشركات في العالم ولأي سبب كان.

</p>
<br />
<h1><strong>التحديثات</strong></h1>
<p>
    تستطيع أن تعلمنا بأي تحديثات، وتعديلات، وتصحيحات، تقوم بها على معلومات المستخدم التي قمنا بجمعها مسبقا من خلال استخدام وصلة نموذج التغذية الراجعة في قسم اتصل بنا الموجود على الموقع.
    قد نقوم بتغيير سياسة الخصوصية من وقت إلى آخر ولهذا يتعين عليك مراجعتها دوريا. ويكون استخدامك لموقع سكاي نيوز عربية دلالة على قبول سياسة الخصوصية المطبقة في ذلك الوقت.
    نحتفظ بحقنا بتغيير أو تعديل أو تحديث سياسة الخصوصية هذه في أي وقت من الأوقات.
    جمع البيانات
    عند استخدام الموقع قد تصادف مناطق مثل المنتديات أو خدمات الفيديو حيث يتم الطلب منك كمستخدم إدخال معلومات المستخدم الخاصة بك. يتم استخدام مثل معلومات المستخدم هذه فقط للهدف التي يتم جمعها من أجله، وأي أغراض أخرى يتم تحديدها في نقطة الجمع وذلك بالتوافق مع سياسة الخصوصية هذه. لن نقوم بالإفصاح عن أي من معلومات المستخدم التي توفرها لطرف ثالث دون إصدارك الموافقة على ذلك، باستثناء ضرورة توفير خدمات قمت بتحديد طلبها.
</p>
<br />
<h1><strong>الملفات النصية (كوكيز) </strong></h1>
<p>
    يتوجب عليك أن تعلم أنه من الممكن أن يتم جمع المعلومات والبيانات تلقائيا من خلال استخدام الملفات النصية (كوكيز). وهي ملفات نصية صغيرة يتم من خلالها حفظ المعلومات الأساسية التي يستخدمها موقع الشبكة من أجل تحديد الاستخدامات المتكررة للموقع وعلى سبيل المثال، استرجاع اسمك إذا تم إدخاله مسبقا. قد نستخدم هذه المعلومات من أجل متابعة السلوك وتجميع بيانات كلية من أجل تحسين الموقع، واستهداف الإعلانات وتقييم الفعالية العامة لمثل هذه الإعلانات.
    لا تندمج هذه الملفات النصية ضمن نظام التشغيل الخاص بك ولا تؤذي ملفاتك. وإن كنت تفضل عدم جمع المعلومات من خلال استخدام الملفات النصية، تستطيع اتباع إجراء بسيط من خلال معظم المتصفحات والتي تمكنّك من رفض خاصية تنزيل الملفات النصية. ولكن لا بد أن تلاحظ، أن الخدمات الموجهّة لك شخصيا قد تتأثر في حال اختيار تعطيل خيار الملفات النصية. إذا رغبت في تعطيل خاصية إنزال الملفات النصية اضغط الرابط هنا للتعليمات التي ستظهر في نافذة منفصلة.
</p>
<br />
<h1><strong>حماية معلومات المستخدم الخاصة بك</strong></h1>
<p>
    للأسف يعتبر إرسال البيانات عبر الإنترنت أمرا لا يمكن ضمانه على نحو كلي. ومع التزامنا التام بحماية معلومات المستخدم الخاصة بك، فإننا لا نستطيع ضمان أمان إرسال معلومات المستخدم الخاصة بك إلى الموقع. إن أي بيانات يتم إرسالها، بما في ذلك معلومات المستخدم الخاصة بك، تكون على مسؤوليتك أنت.
    من جانبنا فإننا نعي معايير الصناعة ونستخدم تطبيقات الأمن من أجل حماية معلومات المستخدم من أي اختراق غير مشروع أو إساءة استخدام. وعليه ولدى استخدامنا معلومات المستخدم فإننا نقوم بتطبيق إجراءات معايير الصناعة ومواصفات الأمن من أجل منع الوصول غير المشروع إلى معلومات المستخدم.
</p>


